*{
    margin: 0;
    padding: 0;
    color: black;
    font-size: 1.1rem;
    font-family: "Lato";
    font-weight: 400;
}
.owner-link {
    cursor: pointer;
    transition: all 1s;
}

.owner-link:hover {
    font-size: 1.3rem;
}
/* Nav Items */
.navbar-brand {
    cursor: pointer;
    font-family: Notable;
    font-size: 1.5rem;
}
/* List Container Section Styles */
.page-btn {
    font-size: 1rem;
}

#next-btn {
    margin-left: auto;
}