<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LordTracker</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="/static/style.css"> -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,900&family=Notable&display=swap" rel="stylesheet">
</head>
<body>
<div class="container-fluid">
    <!-- Nav Bar -->
    <header class="row container-fluid ">
        <nav class="col-12 container">
            <div class="row">
                <div id="logo-container" class="col-2">
                    <!-- Logo -->
                    <a href="/"><h1 id="site-name" class="text-center">Lord Tracker</h1></a>
                </div>
                <div id="category-container" class="col-10 d-flex flex-row justify-content-between align-items-end">
                    <!-- List by Category Links -->
                    <div id="owners" class="list-link w-25 text-center"><p>Owners</p></div>
                    <div id="properties" class="list-link w-25 text-center"><p>Properties</p></div>
                    <div id="companies" class="list-link w-25 text-center"><p>Companies</p></div>
                </div>
            </div>
            <!-- Search Bar Form -->
            <form id="search-form" 
            action="/" 
            method="POST"
            class="row form-group">
                <!-- form variable passed from root route -->
                {{ form.hidden_tag() }}
                <!-- Flask-WTF Form Fields -->
                <div class="col-4 d-flex flex-column align-items-start justify-content-center">
                    {{ form.name.label(class="col-form-label-sm w-25", id="name-lable") }} 
                    {{ form.name(class="form-control-sm w-75", id="name-input") }}
                </div>
                <div class="col-4 d-flex flex-column align-items-start justify-content-center">
                    {{ form.property.label(class="col-form-label-sm w-25", id="prop-lable") }} 
                    {{ form.property(class="form-control-sm w-75", id="prop-input") }}
                </div>
                <div class="col-4 d-flex align-items-end justify-content-center">
                    <input 
                    id="search-btn" 
                    type="submit" 
                    value="Search!">
                </div>
            </form>
        </nav>
    </header>

    <div id="bottom">

        <!-- Flashed Messages Section -->
        <div id="flash-container">
            <div>
                <!-- flashed message logic can be found in root route -->
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                <ul class="alert">
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                {% endwith %}
            </div>
        </div>

        <!-- Page Content Container -->
        <div>
            <!-- Table Section -->
            <div>
                <table>
                    <thead>
                        <!-- Table Title -->
                        <tr>
                            <h4>Largest Property Owners</h4>
                        </tr>
                        <!-- Column Headers -->
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Amount of Properties</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- landlords variable passed from root route -->
                        {% for landlord in landlords %}
                        <tr>
                            <td><p 
                                class="owner-link" 
                                data-owner-id="{{landlord.id}}">
                                {{ landlord.full_name }}</p>
                            </td>
                            <td>{{ landlord.property_count }}</td>
                        </tr>
                            {% endfor %}
                    </tbody>
                </table>
            </div>
    
            <!-- Paginated List Section -->
            <div id="list-container">
                <ul
                id="type-list"></ul>
                <div id="nav-btn-container"></div>
            </div>
    
            <!-- Search Results Section -->
            <div id="results-container">
                {% block content %}
                {% endblock %}
            </div>
    
            <!-- Owner Data Section -->
            <div id="owner-container">
                <div>
                    <h1 id="owner-name-h1"></h1>
                    <p id="owner-address-p"></p>
                    <p id="owner-company-p"></p>
                    <p id="property-count-p"></p>
                </div>
                
                <div>
                    <h4>Properties:</h4>
                    <ul id="property-list"></ul>
                </div>
            </div>
        </div>
    </div>
</div>
    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.js"></script>
    <script src="/static/script.js"></script>
</body>
</html>