{% extends "base.html" %}

{% block title %}Home Page{% endblock %}

{% block content %}
<table class="col-12 table table-hover table-striped">
    <thead>
        <tr>
            <h4>Largest Property Owners</h4>
        </tr>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Amount of Properties</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        {% for landlord in landlords %}
        <tr>
            <td><a href="/owner/{{landlord.id}}">{{ landlord.full_name }}</a></td>
            <td>{{ landlord.property_count }}</td>
        </tr>
            {% endfor %}
    </tbody>
</table>
{% endblock %}